name: Upload Cloudformation templates & deploy for preview

on:
  workflow_dispatch:
#  schedule:
#    - cron: "0 2 * * *"

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  Deploy:
    name: Deploy Vaultdb Analytics and Datalake
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build distribtion
        shell: bash
        run: |
          mkdir -p dist
          mkdir -p dist/infra
          cp ./infra/*.yaml ./dist/infra/

      - uses: shallwefootball/s3-upload-action@master
        name: Upload S3
        id: S3
        with:
          aws_key_id: ${{ secrets.S3_ID }}
          aws_secret_access_key: ${{ secrets.S3_KEY}}
          aws_bucket: ${{ secrets.AWS_BUCKET }}
          source_dir: 'dist'
          destination_dir: 'awsquickstart'
